Package: com.rhino.instagram
Name: Rhino
Depends: mobilesubstrate, preferenceloader
Version: 2.4.1
Architecture: iphoneos-arm
Description: The ultimate Instagram enhancement tweak. Download stories, reels, videos, view stories anonymously, disable ads, and much more.
Maintainer: RhinoDev
Author: RhinoDev
Section: Tweaks
SileoDepiction: depiction/index.html
Icon: https://raw.githubusercontent.com/user/repo/main/icon.png
